In [6]:
from raptor_functions.supervised.datasets import get_data
from raptor_functions.eda.visualisations import *
import pandas as pd

In [7]:
path_to_csv = 'air_freshener.csv'
df = pd.read_csv(path_to_csv)

In [8]:
df.head()

,Unnamed: 0,exp_unique_id,timesteps,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,...,sensor_24,Humidity (r.h.),measurement_stage,date_exp,time_elapsed,datetime_exp_start,filename,exp_name,repeat_no,result
0,0,0,1,55.341,191.939,385.070,58.027,25.021,242.921,397.103,...,120.278,41.79,baseline,15/7/2022,0.00,17:27:45,Test_84_20220715_17_27.txt,Test 24,84,baseline
1,1,0,2,55.561,194.517,387.530,58.541,25.131,246.191,400.723,...,121.993,41.79,baseline,15/7/2022,0.25,17:27:45,Test_84_20220715_17_27.txt,Test 24,84,baseline
2,2,0,3,55.230,191.029,384.093,57.914,25.057,240.693,395.057,...,120.278,41.79,baseline,15/7/2022,0.50,17:27:45,Test_84_20220715_17_27.txt,Test 24,84,baseline
3,3,0,4,55.230,191.574,385.070,58.027,25.057,243.171,397.103,...,120.597,41.79,baseline,15/7/2022,0.75,17:27:45,Test_84_20220715_17_27.txt,Test 24,84,baseline
4,4,0,5,55.176,191.939,385.070,58.141,24.984,243.671,397.103,...,120.597,41.79,baseline,15/7/2022,1.00,17:27:45,Test_84_20220715_17_27.txt,Test 24,84,baseline

In [9]:
plot_sensors(df, exps_numbers = [0,1], sensors_numbers = [1,2,3,4,5,6,7,8,9,10,11,12], figure_name = 'sensor_response_1')

In [ ]:
plot_sensors(df)